Repository ihabfallahy2/dynamoss, changes with the labels that .github/labeler.yml gives for each.
All labels: build, test

Delete main.yml
  .github/workflows/main.yml
Labels: none

Create pr-badge.yml
  .github/pr-badge.yml
Labels: none

feat: 24-fix-version-en-pom
  src/main/java/com/HIITENFA/dynamoss/controller/PctoolsController.java
Labels: none

feat: 24-fix-version-en-pom
  pom.xml
  src/main/java/com/HIITENFA/dynamoss/controller/PctoolsController.java
Labels: build

feat: add-cors-header
  src/main/java/com/HIITENFA/dynamoss/config/SwaggerConfiguration.java
Labels: none

feat: add-cors-header
  src/main/java/com/HIITENFA/dynamoss/controller/PctoolsController.java
Labels: none

Revert "feat: add-cors-header"
  src/main/java/com/HIITENFA/dynamoss/config/SwaggerConfiguration.java
  src/main/java/com/HIITENFA/dynamoss/controller/PctoolsController.java
Labels: none

Revert "Revert "feat: add-cors-header""
  src/main/java/com/HIITENFA/dynamoss/config/SwaggerConfiguration.java
  src/main/java/com/HIITENFA/dynamoss/controller/PctoolsController.java
Labels: none

Create hello-to-news-contributions.yml
  .github/workflows/hello-to-news-contributions.yml
Labels: none

test: test/35-test-parala-cobertura-de-los-servicios-web
  src/test/java/com/HIITENFA/dynamoss/controller/PctoolsControllerTest.java
Labels: test

test(quality): 35-test-parala-cobertura-de-los-servicios-web
  src/test/java/com/HIITENFA/dynamoss/controller/ToolsControllerTest.java
Labels: test

Create release-drafter.yml
  .github/release-drafter.yml
Labels: none

Create weekly-digest.yml
  .github/weekly-digest.yml
Labels: none

Create auto-comment.yml
  .github/auto-comment.yml
Labels: none

Update auto-comment.yml
  .github/auto-comment.yml
Labels: none

Update pr-badge.yml
  .github/pr-badge.yml
Labels: none

.github/labeler.yml:

build: pom.xml
test: src/test/**/*
